<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body class="d-flex flex-column min-vh-100">
    <%- include('partials/nav') %>
    <div class="mx-4">
      <h1>About Devs</h1>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
